core
*.o
*.wo
*.wasm
*#
.#*
*~
dfiles.mk
revision.di
bin
tagion/tvm/c/
tests/basic/d/basic
*.parked
multi-module
tests/basic/c/basic
tests/wasmd/
wamr/build/
wamr/CMakeCache.txt
wamr/CMakeFiles
llvm
wasm-micro-runtime
tests/wasm_sample.d
